body {
    font-family: Helvetica;
    color: rgba(0, 0, 0, 0.85);
    margin: auto;
    width: 21cm;
}


pre {
    border: inset 1px black;
    border-radius: 1em;
    padding-left: 1em;
    background-color: #f8f8f8;
    font-family: Consolas;
}

code {
    border: solid 0.5px gray;
    border-radius: 3px;
    padding: 1px;
    background-color: #f8f8f8;
    position: relative;
    top: -1px;
}

pre > code {
    border: none;
    background-color: transparent;
}
